.dashboard {
    font-family: 'Open Sans', sans-serif;
}

.station-name {
    font-family: 'Oswald', sans-serif;
}

.card {
    height: 300px;
    min-width: 210px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-header {
    background-color: rgb(216, 236, 217);
}

.card-title {
    float: left;
}

.card-icon {
    font-size: 25px;
    color: #008375;
    float: right;
}

.card-expand {
    font-size: 25px;
}

.card-expand:hover {
    color: #008375;
}

agm-map {
    height: 350px;
}

.g-map {
    border: 1px lightgray solid;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}