.dashboard {
    font-family: 'Open Sans', sans-serif;
}

.card {
    height: 300px;
    min-width: 210px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-icon {
    font-size: 25px;
    color: #008375;
}

.card-expand {
    font-size: 25px;
}

.card-expand:hover {
    color: #008375;
}

agm-map {
    height: 350px;
    // width: 500px;
}