<div *ngIf="currentState == states.LOADING">
	Please wait..
</div>
<div *ngIf="currentState == states.ERROR">
	ERROR {{errorMessage | json}}
</div>
<section role="region" class="dashboard" *ngIf="currentState == states.READY">
	<nav role="navigation">
		<app-nav></app-nav>
	</nav>

	<section role="region">
		<div class="text-center mt-4" *ngIf="data">
			<h2 class="station-name">{{data.station.name}}</h2>
		</div>
		<div class="text-center mt-4 mb-4" *ngIf="data">
			<h5>As of: {{data.station.last_reading | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm A'}}</h5>
		</div>
	</section>

	<section role="region">
		<div class="g-map mt-4 mx-4">
			<agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
				<agm-marker [latitude]="data.station.lat" [longitude]="data.station.lng"></agm-marker>
			</agm-map>
		</div>
	</section>

	<main role="main">
		<div class="container mb-4">
			<div class="card-deck text-center">
				<div class="card border mt-4">
					<div class="card-header">
						<h4 class="card-title">Temperature</h4>
						<i class="card-icon fas fa-temperature-low"></i>
					</div>
					<div class="my-auto" *ngIf="currentConditionMap['Temperature']">
						<h1>{{currentConditionMap['Temperature'].reading | json}} °F</h1>
						<h4>Currently</h4>
					</div>
					<div class="text-right mr-1">
						<i routerLink="/" onClick="alert('This could expand for historical data and more.')" class="fas fa-expand card-expand"></i>
					</div>
				</div>
				<div class="card border mt-4">
					<div class="card-header">
						<h4 class="card-title">Humidity</h4>
						<i class="card-icon fas fa-percent"></i>
					</div>
					<div class="my-auto" *ngIf="currentConditionMap['Humidity']">
						<h1>{{currentConditionMap['Humidity'].reading | json}} %</h1>
					</div>
					<div class="text-right mr-1">
						<i routerLink="/" onClick="alert('This could expand for historical data and more.')" class="fas fa-expand card-expand"></i>
					</div>
				</div>
				<div class="card border mt-4">
					<div class="card-header">
						<h4 class="card-title">Wind Speed</h4>
						<i class="card-icon fas fa-wind"></i>
					</div>
					<div class="my-auto" *ngIf="currentConditionMap['Wind Speed']">
						<h1>{{currentConditionMap['Wind Speed'].reading | json}} mph</h1>
						<h4>{{currentConditionMap['Wind Speed (min)'].reading | json}} - {{currentConditionMap['Wind Speed (max)'].reading | json}}
							mph </h4>
					</div>
					<div class="text-right mr-1">
						<i routerLink="/" onClick="alert('This could expand for historical data and more.')" class="fas fa-expand card-expand"></i>
					</div>
				</div>
			</div>
			<div class="card-deck text-center">
				<div class="card border mt-4">
					<div class="card-header">
						<h4 class="card-title">Dew Point</h4>
						<i class="card-icon fas fa-tint"></i>
					</div>
					<div class="my-auto" *ngIf="currentConditionMap['Dew Point']">
						<h1>{{currentConditionMap['Dew Point'].reading | json}} °F</h1>
					</div>
					<div class="text-right mr-1">
						<i routerLink="/" onClick="alert('This could expand for historical data and more.')" class="fas fa-expand card-expand"></i>
					</div>
				</div>
				<div class="card border mt-4">
					<div class="card-header">
						<h4 class="card-title">Heat Index</h4>
						<i class="card-icon fas fa-temperature-high"></i>
					</div>
					<div class="my-auto" *ngIf="currentConditionMap['Heat Index']">
						<h1>{{currentConditionMap['Heat Index'].reading | json}} °F</h1>
					</div>
					<div class="text-right mr-1">
						<i routerLink="/" onClick="alert('This could expand for historical data and more.')" class="fas fa-expand card-expand"></i>
					</div>
				</div>
				<div class="card border mt-4">
					<div class="card-header">
						<h4 class="card-title">Pressure</h4>
						<i class="card-icon fas fa-thermometer-full"></i>
					</div>
					<div class="my-auto" *ngIf="currentConditionMap['Pressure']">
						<h1>{{currentConditionMap['Pressure'].reading | json}} inHg</h1>
					</div>
					<div class="text-right mr-1">
						<i routerLink="/" onClick="alert('This could expand for historical data and more.')" class="fas fa-expand card-expand"></i>
					</div>
				</div>
			</div>
		</div>
	</main>

</section>